.form-container {
  max-width: 100%;
  margin: auto;
}

.form-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  font-size: 16px; /* Increase font size */
}

input,
select {
  width: 100%;
  padding: 12px; /* Increase padding */
  border: 1px solid #ccc;
  border-radius: 6px; /* Increase border radius */
  box-sizing: border-box;
  font-size: 16px; /* Increase font size */
}

button {
  grid-column: span 2;
  width: 100%;
  padding: 12px; /* Increase padding */
  border: none;
  border-radius: 6px; /* Increase border radius */
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
