.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: 300px;
    height: 500px;
  }
  
  .card h3 {
    margin-left: 15px;
    font-size: 19px;
    color: #333333;
  }

  .card:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-content p {
    margin-left: 5px;
    font-size: 16px;
    color: #333333;
  }
  
  /* Styles.css */
.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dialog {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* styles.css */
.close-btn {
    background-color: tomato;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .close-btn:hover {
    background-color: salmon;
  }
  